/**
 *
 *  TOC:
 *  01. webfonts and iconfonts 
 *  02. base style overrides (tamanho da área de serviços e espaçamento entre as letras)
 *  03. buttons da parte de serviços 
 *  04. Nome do meio da parte de serviços, e a linha debaixo dele
 *  05. pricing section - Parte de Serviços
 * =================================================================== 
 */

/** 
 * ===================================================================
 * base style overrides (tamanho da área de serviços e espaçamento entre as letras)
 *
 * ------------------------------------------------------------------- 
 */



/** 
 * ===================================================================
 * buttons da parte de serviços
 *
 * ------------------------------------------------------------------- 
 */

.button,
button,
input[type="button"] {
  display: inline-block;
  font-family: "delicious", sans-serif;
  font-size: 1.6rem;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  margin: 0 .3rem 1rem 0;
  background: #d8d8d8;
  color: #252525;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 1000px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button.large, .button.large {
  height: 6rem !important;
  line-height: 6rem !important;
  padding: 0rem 3rem !important;
}

.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
}
.navbar-top {
  background: #536683;
  font-size: 12px;
  padding: 3px 0;
}

.navbar{
  margin-bottom: 0 !important;
}

.navbar-default .navbar-nav>li>a {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: rgba(0,0,0,.4);
  color: white;
}

.navbar-brand h1 {
  margin-top: 5px;
}
.navbar-brand {
  height: 60px ;
  padding: 9px 15px ;
}
.navbar-toggle {margin-top: 14px;}
.navbar-default .navbar-toggle {
  border-radius: 0;
  background-color: rgba(0,0,0,.2);
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,.5);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0;
}

.navbar.navbar-default {
  position: absolute;
  width: 100%;
  z-index: 1030;
  border: 0;
  border-radius: 0;
  top: 2000px;
}

/** 
 * ===================================================================
 * Nome do meio da parte de serviços, e a linha debaixo dele
 *
 * ------------------------------------------------------------------- 
 */

.section-intro {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.2rem;
  position: relative;
}
.section-intro h2 {
  font-family: "adam.cg", serif;
  font-size: 35px;
  color: #252525;
  line-height: 1.25;
  margin-bottom: 1.2rem;

}

.section-intro .with-bottom-line::after {
  display: block;
  background-color: #05bca9;
  width: 120px;
  height: 3px;
  content: '\0020';
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -60px;
}

/** 
 * ===================================================================
 * pricing section - Parte de Serviços
 *
 * ------------------------------------------------------------------- 
 */

#pricing {
  background: #EAEAED;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pricing-content .price-block {
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pricing-content .price-block .top-part,
.pricing-content .price-block .bottom-part {
  padding: 2rem;
}
.pricing-content .price-block .top-part {
  background: #163b50;
  color: #FFFFFF;
  padding-bottom: 1rem;
  position: relative;
}

.pricing-content .price-block .plan-title {
  color: #FFFFFF;
  padding-bottom: 1.5rem;
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  position: relative;
}
.pricing-content .price-block .plan-title::after {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 80px;
  height: 1px;
  content: '\0020';
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -40px;
}

.pricing-content .price-block .button:hover,
.pricing-content .price-block .button:focus {
  background: #58687b;
  color: #FFFFFF;
}
.pricing-content .price-block .features {
  list-style: none;
  font-family: "delicious", sans-serif;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  margin: .6rem 0 1.8rem 0;
}
.pricing-content .price-block .features li {
  padding: .6rem 0;
  border-bottom: 1px solid #EAEAED;
}
.pricing-content .price-block .features li {
  color: #353F49;
  font-family: "delicious", serif;
  margin-right: 40px;
}
.pricing-content .price-block .features li:last-child {
  border: none;
}
.pricing-content .primary .top-part {
  background: #36b1d8;
}
.pricing-content .primary .top-part::before {
  content: attr(data-info);
  display: block;
  min-height: 48px;
  line-height: 48px;
  width: 75%;
  text-align: center;
  color: #FFFFFF;
  background: #38424e;
  font-family: "raleway-heavy", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  position: absolute;
  bottom: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 500;
  border-radius: 5px;
}



/*************************
********About CSS*******
**************************/


/* Parte do Quem Somos, para deixar branco*/
.branco {
  color:#fff;
}

/*************************************************
*******Features CSS do Quem somos e Equipe *******
**************************************************/
#features {
  text-align: center;
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: 1800px 750px;
  background-size: cover;
}

#features i {
  font-size: 190px;
}

#features h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features p {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}

.feactures-icon{
  background-image: url('http://static.ejectufrn.com.br/eject/sitio/images/ico/icones.svg');
  background-size: 80px 570px;
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

/********************/
/**** PORTIFOLIO ****/
/********************/

.pad {
  margin-top:-2em;
}
#plano_de_fundo{
  background-image:url('../img/features-bg.png');
  background-size: cover;
}
.pad1 {
  margin-top: 2em;
}
<<<<<<< HEAD

=======
 .fundo{
   background-color: white;
 }
>>>>>>> origin/master

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/*************************
*******Home Page******
**************************/

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c52d2f;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0px;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 1000px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #ffc300;
  border: 1px solid #336687;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}